<div class="container my-3">
  <h3>Add a new course</h3>
</div>

<div class="container">
  <%= simple_form_for @course do |f| %>

    <div class="form-inputs">
      <%= f.input :name,
                  required: true %>
    </div>

    <div class="form-inputs">
      <%= f.input :course_type,
                required: true,
                collection: ['Online Test', 'Interview', 'Other'] %>
    </div>

    <div class="form-inputs">
      <%= f.label :description,
                      label: "Course description" %>
      <%= f.rich_text_area :description,
                            required: true %>
    </div>

    <div class="form-inputs">
      <%= f.input :example_question %>
    </div>

    <div class="form-inputs">
      <%= f.input :photo,
                label: "Course photo",
                as: :file %>
    </div>

    <div class="form-inputs">
      <%= f.input :free_material,
                label: "Free Material File",
                as: :file %>
    </div>

    <div class="form-inputs">
      <%= f.input :paid_material,
                label: "Paid Material File",
                as: :file %>
    </div>

    <div class="form-actions">
      <%= f.submit "Submit", class: "btn btn-ghost" %>
    </div>

  <% end %>
</div>
