<div class="posts-index">
  <%= @posts.order(created_at: :desc).each do |post| %>
    <div class="post-card">
      <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="post-head">
        <h3><%= post.title %></h3>
      </div>
      <div class="post-summary">
        <p><%= post.summary %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="">
  <% if policy(@posts).create? %>
    <%= link_to "New post", new_post_path(@post) %>
  <% end %>
</div>
